

.add-spend-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.add-spend-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add-spend-button a:hover {
    background-color: #0056b3;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide into two columns */
}

.pie-chart-container {
    height: 100%; /* Fill the available height */
    display: flex;
    align-items: center;
    justify-content: center;
}
