

/* General theme colors */
body {
    background-color: #fcfbfa;
    color: #3c322e;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% of the viewport height */
}

/* Individual form columns */
.signin, .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Take the full height of the parent */
    
}

/* Additions for signin and login forms */
.signin {
    background-image: linear-gradient( #8a7871, #dbd1c8);
    color: #3c322e;

}

.login {
    background-image: linear-gradient( #8a7871, #dbd1c8);
    color: #3c322e;

}

.form-group input {
    background-color: #dbd1c8;
    border: 1px solid #3c322e;
    color: #3c322e;
}

.btn-primary {
    background-color: #4f443f;
    border: none;
}

.btn-primary:hover {
    background-color: #3c322e; /* A darker shade of #8a7871 */
}
